<h1>Perfil Administrador - Gestión de usuarios</h1>
<div class="container">
    Bienvenido! <span id="emailUsuario">{{user.email}}</span>
    <a href="/admin">Volver a gestión de productos</a>
    <button id="logoutButton">Cerrar Sesión</button>

 <div class="formulario">
        <h1>Formulario de gestión de Usuarios</h1>

        <div class="formulario">

            <form id="user-form">
                
                <div class="inputs">
                    <div>
                        
                        <div>
                            <select id="userSelect" >
                                <option value="" selected>Selecciona un usuario</option>
                                {{#each members}}
                                    <option value="{{this.email}}">{{this.email}}</option>
                                    
                                {{/each}}
                            </select>
                            
                        </div>
                    </div>
                    

                    <div>
                        Rol actual: <div id="actualRole" style="border: 1px solid #ccc; padding: 5px; width: 200px;" placeholder="Stock actual..."></div>
                    </div>

                    <div>
                        Rol nuevo: <select name="newRole" id="newRole">
                            <option value="usuario" selected="true">Usuario</option>
                            <option value="premium">Usuario Premium</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                    {{!-- <div>
                        Stock: <input type="number" id="stock" autocomplete="off" placeholder="Ingrese Stock" required>
                        Categoría: <input type="text" id="cat" autocomplete="off" placeholder="Ingrese Categoria" required>
                        Disponibilidad: <select name="available" id="available">
                            <option value="available_stock" selected="true">Con Stock</option>
                            <option value="no_stock_available">Sin Stock</option>
                        </select>
                    </div> --}}
                </div>
            
            <div class="botones">
                <button type="submit" id="btnOperacion">Editar Rol</button>
            </div>
            </form>
        </div>
        
        
    </div>


    <div class="infoProd">
        <h1>Listado de Usuarios</h1>
        <button id="deleteInactiveUsers2Days">Eliminar usuarios inactivos hace 2 días</button>
        <button id="deleteInactiveUsers5Min">Eliminar usuarios inactivos hace 5 minutos</button>
        <div class="detalleProd">
            <div id="productsContainer">
                <ul>
                    {{#each members}}
                    <li data-first_name="{{this.first_name}}"data-email="{{this.email}}" data-role="{{this.role}}">
                        Nombre: {{this.first_name}}<br>
                        E-mail: <strong>{{this.email}}</strong><br>
                        Rol: {{this.role}}<br>
                        <button class="eliminarUsuario">Eliminar</button> 
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    
    
</div>
<script>


    document.getElementById('logoutButton').addEventListener('click', cerrarSesion);
    function cerrarSesion() {
        localStorage.removeItem("token");
        const userEmail = "{{email}}"
        window.location.href = '/logout?email=' + userEmail
    }

    document.addEventListener("DOMContentLoaded", function () {
        

        // Obtener referencia a formulario y productos
        const productsList = document.getElementById("productsContainer");
        const nameInput = document.getElementById("name");
        const descInput = document.getElementById("desc");
        //const imgInput = document.getElementById("img");
        const priceInput = document.getElementById("price");
        const stockInput = document.getElementById("stock");
        const catInput = document.getElementById("cat");
        //const ownInput = document.getElementById("owner");
        const idInput = document.getElementById("productId");


        
        // Evento para la productos
        productsList.addEventListener("click", function (event) {
            // Verificar si el clic fue en un elemento de la lista
            const clickedElement = event.target;
            if (clickedElement.tagName === "LI") {
                // Información productos existentes
                const price = clickedElement.getAttribute("data-name");
                const description = clickedElement.getAttribute("data-description");
                //const image = clickedElement.getAttribute("data-image");
                const price = clickedElement.getAttribute("data-price");
                const stock = clickedElement.getAttribute("data-stock");
                const category = clickedElement.getAttribute("data-category");
                //const owner = clickedElement.getAttribute("data-owner");
                const productId = clickedElement.getAttribute("data-id");

                // Autocompletar los campos del formulario con la información del producto
                nameInput.value = name;
                descInput.value = description;
                //imgInput.value = image;
                priceInput.value = price;
                stockInput.value = stock;
                catInput.value = category;
                //ownInput.value = owner;
                idInput.value = productId;

            }
        });

        
        

    });
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/realTimeUsers.js"></script>   