<h1>Perfil usuario</h1>
Bienvenido! <span id="emailUsuario">{{user.email}}</span>

<a href="/api/carts/mycart/{{user.email}}/{{user.cart}}">Ir a mi carrito!!</a>
<button id="logoutButton">Cerrar Sesión</button>
<div class="container">
    <div class="infoProd">
        <h1>Lista de Productos</h1>
        <div class="detalleProd">
            <div id="productsContainer">
                <ul>
                    {{#each products}}
                    <li data-name="{{this.name}}"data-description="{{this.description}}" {{!-- data-image="{{this.image}}" --}} data-price="{{this.price}}" 
                    data-stock="{{this.stock}}" data-category="{{this.category}}" data-available="{{this.availability}}"
                    data-owner="{{this.owner}}" data-id="{{this._id}}">
                        <strong>{{this.description}}</strong><br>
                        Price: ${{this.price}}<br>
                        Stock: {{this.stock}}<br>
                        Category: {{this.category}}<br>
                        <button class="agregarAlCarritoBtn">Agregar</button>
                    </li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
    <div class="formulario">
        <h1>Comunícate con nosotros!</h1>
        <form id="email-form">
            <input type="hidden" id="productId" name="productId">
            <div class="inputs">
                <div>
                    <input type="email" id="email" autocomplete="off" placeholder="Ingrese Correo" required>
                </div>
                <div>
                    <textarea id="com" autocomplete="off" placeholder="Ingrese Comentario" required rows="4"
                        cols="50"></textarea>
                </div>
            </div>
            <div class="botones">
                <button type="submit" id="btnCorreo">Enviar</button>
            </div>
        </form>
    </div>


<script>  
    document.getElementById('logoutButton').addEventListener('click', cerrarSesion);
    function cerrarSesion() {
        localStorage.removeItem("token");
        const userEmail = "{{user.email}}"
        window.location.href = '/logout?email=' + userEmail
    }
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/user.js"></script>